<div>
  <p>名前<%= @customer.last_name %><%= @customer.first_name %><%= @customer.gender_id %></p>
  <p><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>
  <p>生年月日<%= @customer.birthday %><%= @customer.age %></p>
  <p>郵便番号<%= @customer.post_code %></p>
  <p>住所<%= @customer.address %></p>
  <p>自宅電話<%= @customer.home_phone_number %></p>
  <p>携帯電話<%= @customer.phone_number %></p>
</div>