<div>
  <p>名前<%= @customer.last_name %><%= @customer.first_name %><%= @customer.gender_id %></p>
  <p><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>
  <p>生年月日<%= @customer.birthday %><%= @customer.age %></p>
  <p>郵便番号<%= @customer.post_code %></p>
  <p>住所<%= @customer.address %></p>
  <p>自宅電話<%= @customer.home_phone_number %></p>
  <p>携帯電話<%= @customer.phone_number %></p>
</div>

<div>
  <%= form_with(model: @post_comment, url: customer_post_comments_path(@user.id), local: true) do |f| %>
    <%= f.select :method, PostComment.methods.keys.map %>
    <%= f.select :target, PostComment.targets.keys.map %>
    <%= f.select :status, PostComment.statuses.keys.map %>
    <%= f.text_area :comment %>
    <%= f.submit "新規コメント" %>
  <% end %>
</div>

<div>
  <% @customer.post_comments.each do |post_comment| %>
    <%= post_comment.create_at.strftime('%Y/%m/%d') %>
    <%= post_comment.method %>
    <%= post_comment.user_name %>
    <%= post_comment.target %>
    <%= post_comment.status %>
    <%= post_comment.comment %>
    <% if post_comment.user == current_user %>
    <div>
      <%= link_to "削除", user_post_comment_path(post_comment.user, post_comment), method: :delete %>
    </div>
    <% end %>
  <% end %>
</div>
